/* --- CONTAINER --- */
.container {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0 24px;
    position: relative;
    z-index: 2;
}

@media (max-width: 480px) {
    .container {
        padding: 0 16px;
    }
}
